<!--<div class="container mt-5" align="center">-->
<!--  <div class="row w-75 bg-white border">-->
<!--    <div class="col-4 border">-->
<!--      usersBlock-->
<!--    </div>-->
<!--    <div class="col-8">-->
<!--      messageBlock-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="container mt-5" align="center">
  <div class="row w-75 bg-white border">
      <div class="col-4 list-group border">
          <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
          <a class="list-group-item list-group-item-action" href="#list-item-2">Item2</a>
          <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
    </div>
    <perfect-scrollbar class="col-8">
      <div class="container">
        <div class="content">
        <p>Ex consequat commodo adipisicing exercitation aute excepteur oc
          caecat ullamco duis aliqua id magna ullamco eu. Do aute ipsum ipsum ul
          lamco cillum consectetur ut et aute consectetur labore. Fugiat labo
          rum incididunt tempor eu consequat enim dolore proident. Qui laborum do n
          on excepteur nulla magna eiusmod consectetur in. Aliqua et aliqua officia quis
          et incididunt voluptate non anim reprehenderit adipisicing dolore ut consequat deseru
          nt mollit dolore. Aliquip nulla enim veniam
          non fugiat id cupidatat nulla elit cupidatat commodo velit ut ei
          usmod cupidatat elit dolore.
        </p>
        <p>Amet tempor mollit aliquip pariatur excepteur commodo do ea
          cillum commodo Lorem et occaecat elit qui et. Aliquip labore ex ex
          esse voluptate occaecat Lorem ullamco deserunt. Aliqua cillum excepteur
          irure consequat id quis ea. Sit proident ullamco aute magna pariatur nos
          trud labore. Reprehenderit aliqua commodo eiusmod aliquip est do duis ame
          t proident magna consectetur consequat eu commodo fugiat non quis. Enim al
          iquip exercitation ullamco adipisicing voluptate excepteur minim exercitati
          on minim minim commodo adipisicing exercitation officia nisi adipisicing. Ani
          m id duis qui consequat labore adipisicing sint dolor elit cillum anim et fugiat.
        </p>
        <p>Ex consequat commodo adipisicing exercitation aute excepteur oc
          caecat ullamco duis aliqua id magna ullamco eu. Do aute ipsum ipsum ul
          lamco cillum consectetur ut et aute consectetur labore. Fugiat labo
          rum incididunt tempor eu consequat enim dolore proident. Qui laborum do n
          on excepteur nulla magna eiusmod consectetur in. Aliqua et aliqua officia quis
          et incididunt voluptate non anim reprehenderit adipisicing dolore ut consequat deseru
          nt mollit dolore. Aliquip nulla enim veniam
          non fugiat id cupidatat nulla elit cupidatat commodo velit ut ei
          usmod cupidatat elit dolore.
        </p>
        <p>Ex consequat commodo adipisicing exercitation aute excepteur oc
          caecat ullamco duis aliqua id magna ullamco eu. Do aute ipsum ipsum ul
          lamco cillum consectetur ut et aute consectetur labore. Fugiat labo
          rum incididunt tempor eu consequat enim dolore proident. Qui laborum do n
          on excepteur nulla magna eiusmod consectetur in. Aliqua et aliqua officia quis
          et incididunt voluptate non anim reprehenderit adipisicing dolore ut consequat deseru
          nt mollit dolore. Aliquip nulla enim veniam
          non fugiat id cupidatat nulla elit cupidatat commodo velit ut ei
          usmod cupidatat elit dolore.
        </p>
        </div>
      </div>
  </perfect-scrollbar>
  </div>
</div>
