<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <a class="navbar-brand" href="/">Instagram</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/feed']">Feed</a>
      </li>
      <li>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2 border-dark" name="searchQuery" type="search" [(ngModel)]="searchQuery">
          <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" (click)="loadSearchResults(template)">Search</button>
        </form>
      </li>
    </ul>
    <div class="nav-item">
      <div class="nav-link" [routerLink]="['/messages']">Messages</div>
    </div>
  </div>
</nav>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left"> Search result</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table">
      <div *ngIf="notNull; else noCoincidence">
        <div *ngIf="searchQuery.charAt(0) == '#'; else userSearch">
          <tr *ngFor="let result of hashtags">
            <td><a (click)="showHashtagResult(result)">#{{result.text}}</a></td>
          </tr>
        </div>
        <ng-template #userSearch>
          <tr *ngFor="let result of users">
            <td ><a (click)="showUserPage(result)"> <img src="api/photos/{{result.profilePhoto}}" alt="profilePhoto" class="rounded-circle border"
                                                        width="50px" height="50px">{{result.nickname}}</a></td>
          </tr>
        </ng-template>
      </div>
      <ng-template #noCoincidence>
        <input class="form-control-plaintext" value="No coincidence">
      </ng-template>
        <hr class="mb-2">
    </table>
  </div>
</ng-template>
