<div class="login" >
  <h1>Заполните поля</h1>
  <form>
    <p><input type="text" name="text" value="" placeholder="Name"></p>
    <p><input type="password" name="nickname" value="" placeholder="Nickname"></p>
    <p><input type="password" name="password" value="" placeholder="Password"></p>
    <p><input type="text" name="email" placeholder="Email"></p>
    <p><input type="date" name="calendar" placeholder="Date of Birth"> </p>
    <p><input type="submit" name="commit" value="Finish registration"></p>
  </form>
</div>
