<!--<ng4-loading-spinner> </ng4-loading-spinner>-->
<div *ngIf="userViewModel != null">
  <div *ngIf=" isCustomer(); else admin">
    <div class="container mt-lg-5" align="center">
      <div class="row">
        <div class="col">
          <div *ngIf="this.userViewModel != null">
            <img src="api/files/{{this.userViewModel.profilePhoto}}"  alt="profilePhoto" class="rounded-circle border"
                 width="200px" height="200px">
          </div>
        </div>
        <div class="col-8">
          <form>
            <div class="form-inline">
              <div class="form-group row">
                <div class="nick col-4 mx-sm-3">
                  {{this.userViewModel?.nickname}}
                </div>
              </div>
            </div>
            <div class="form-inline mt-3">
              <div class="row w-100">
                <div class="col-sm">
                  <strong>{{this.userViewModel?.numberOfPosts}}</strong> posts
                </div>
                <div class="col-sm">
                  <strong>{{this.userViewModel?.subscribers}}</strong> subscribers
                </div>
                <div class="col-sm">
                  <strong>{{this.userViewModel?.subscriptions}}</strong> subscriptions
                </div>
              </div>
            </div>
            <div class="form-inline mt-3">
              <div class="row">
                <div class="col-sm-4 text-sm-center">
                  <strong>{{this.userViewModel?.name}}</strong>
                </div>
                <div class="col-sm-2">
                  {{this.userViewModel?.email}}
                </div>
              </div>
            </div>
            <div class="form-inline mt-3">
              <div class="row">
                <div class="col-sm">
                  <p class="text-justify">{{this.userViewModel?.info}}</p>
                </div>
              </div>
            </div>
            <div class="_form">
              <div class=" btn-group ml-5 mb-2 " role="group">
                <button style="width: 200px;" type="subscribe" class="btn btn-outline-dark" (click)="openModal(template1)">EditProfile</button>
                <div class="btn-group" dropdown>
                  <button style="width: 200px;" id="button-basic" dropdownToggle type="button" class="btn btn-outline-dark dropdown-toggle"
                          aria-controls="dropdown-basic">
                  Other functions<span class="caret"></span>
                  </button>
                  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                      role="menu" aria-labelledby="button-basic">
                    <li role="menuitem"><button type="button" class="btn  btn-danger" (click)="exit()">Log out</button></li>
                    <li role="menuitem"><button type="button" class="btn btn-danger" (click)="deleteAccount()">Delete account</button></li>
                  </ul>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <hr>
    </div>
<div class="container " align="center">
  <h4 align="center">Publications:</h4>
  <hr>
    <button style="width: 900px; height: 200px; font-size: 80px;" type="button" class="btn btn-outline-dark" (click)="openModal(template2)">+</button>
  <hr>
  <form *ngFor="let postModel of pageModel?.page">
    <div class="form-group">
      <div class="row">
        <div class="col">
          <div class="img_wrap bg-dark">
            <img src="api/files/{{postModel.photoPath}}" alt="not found"/>
          </div>
        </div>
      </div>
    </div>
    <div class="_form form-inline">
          <div style="padding-left: 55px;" class="btn-group ml-5 mb-2" role="group">
            <div *ngIf="postModel.like == null;else disliked">
              <button type="button" class="btn btn-success" (click)="likePost(postModel)">Like</button>
            </div>
            <ng-template #disliked>
              <button type="button" class="btn btn-danger" (click)="dislikePost(postModel)">Dislike</button>
            </ng-template>
            <button type="button" class="btn" [routerLink]="['/post/id', postModel.post.idPost]">Comment</button>
            <button type="button" class="btn btn-danger" (click)="deletePost(postModel)">Delete Post</button>
          </div>
    </div>
    <div class="form-group">
      <div style="padding-right: 75%;" class="row">
        <div class="col">
          <strong>{{postModel.likeCount}}</strong> likes
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="content">
            <p> <strong>{{postModel.nickname}}</strong>:{{postModel.post.text}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div style="padding-right: 75%;" class="small font-weight-light">{{dateToString(postModel.post.date)}}</div>
        </div>
      </div>
    </div>
  </form>
  <div class="row" align="center">
    <div class="col-xs-12 col-12 ">
      <pagination [totalItems]="pageModel?.totalElements" [itemsPerPage]="4" (pageChanged)="pageChanged($event)"></pagination>
    </div>
  </div>
</div>

</div>

  <ng-template #admin>
    <div class="container mt-lg-5">
      <div class="row">

        <div class="col">

          <h4>User complaints</h4>

          <div class="btn-group" role="group" aria-label="Basic example">
            <button style="width: 355px;"  type="button" class="btn btn-light" (click)="loadComplaints()">All</button>
            <button style="width: 400px;" type="button" class="btn btn-dark" (click)="loadComplaintsByReason('Spam')">Spam</button>
            <button style="width: 355px;" type="button" class="btn btn-success" (click)="loadComplaintsByReason('Obscenity')">Obscenity</button>
          </div>

          <table class="table">
            <thead  class="thead-dark">
            <tr style="text-align: center;">
              <th  scope="col">Accused</th>
              <th scope="col">Reason</th>
              <th scope="col">Additional info</th>
              <th scope="col">Filling Date</th>
              <th scope="col">Prosecutor</th>
              <th scope="col">Delete</th>
              <th scope="col">Block</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let com of complaintViewModels">
              <td scope="row"><a (click)="showUserPage(com.complaint.idAccused)"> <img src="api/files/{{com.accusedPhoto}}" alt="profilePhoto" class="rounded-circle border"
                                                                                       width="50px" height="50px">    {{com.accusedNickname}}</a></td>
              <td><div *ngIf="com.complaint.reason.toString() == 'SPAM'; else obscenity"> Spam</div>
                <ng-template  #obscenity>Obscenity</ng-template>
              </td>
              <td>{{com.complaint.adInfo}}</td>
              <td>{{dateToString(com.complaint.fillingDate)}}</td>
              <td scope="row"><a (click)="showUserPage(com.complaint.idProsecutor)"> <img src="api/files/{{com.prosecutorPhoto}}" alt="profilePhoto" class="rounded-circle border"
                                                                                       width="50px" height="50px">{{com.prosecutorNickname}}</a></td>
              <td style=" text-align: center;"><button style="width: 150px;" type="button" class="btn btn-danger" (click)="deleteComplaint(com.complaint.idProsecutor, com.complaint.idAccused)">Delete complaint</button></td>
              <td style=" text-align: center;"><button style="width: 150px;" type="button" class="btn btn-secondary" (click)="blockUser(com.complaint.idAccused)">Block</button></td>
            </tr>

            </tbody>
          </table>

          <div>
            <p>Complaints count: {{complaintViewModels ? complaintViewModels.length : 0}}</p>
          </div>

        </div>
      </div>
      <button type="button" class="btn btn-danger">Log out</button>

    </div>

  </ng-template>
</div>

<ng-template #template1>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Profile</h4>
    <button type="button" class="close pull-right"
            aria-label="Close"  (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Username</label>
      <input class="form-control" name="username" [(ngModel)]="this.user.nickname" #nickname="ngModel" required/>
      <div [hidden]="nickname.valid" class="alert alert-danger">
        Empty nickname
      </div>
    </div>
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" name="name" [(ngModel)]="this.user.name" #name="ngModel"/>
    </div>
    <div class="form-group">
      <label>E-mail</label>
      <input class="form-control" name="email" [(ngModel)]="this.user.email" #email="ngModel"
             required pattern="[a-zA-Z0-9_.]+@[a-zA-Z_]+?\.[a-zA-Z]{2,4}"/>
    </div>

    <div class="form-group">
      <label>Info</label>
      <textarea class="form-control" name="email" [(ngModel)]="this.user.info" #info="ngModel"> </textarea>
    </div>

    <div class="form-group">
      <label>Profile photo</label>
      <input class="form-control" type="file" (change)="selectFile($event)"/>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default"
            [disabled]="nickname.invalid || email.invalid || name.invalid" (click)="editUser()">Edit
    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal"  (click)="closeModal()">Close</button>
  </div>
</ng-template>

<ng-template #template2>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New Post</h4>
    <button type="button" class="close pull-right"
            aria-label="Close"  (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group form-inline">
      <label>Type smthg</label>
      <textarea class="form-control w-75" name="username" [(ngModel)]="newText" #info="ngModel"> </textarea>

    </div>
    <div style="text-align:center" class="form-group form-inline">
      <label>SelectFile</label>
      <input class="form-control" type="file" (change)="selectFile($event)"/>
    </div>

  </div>
  <div class="modal-footer">
    <button [disabled]="!selectedFiles" (click)="saveNewPost()" type="button" class="btn btn-outline-dark">Upload</button>
  </div>
</ng-template>
