.posts {
  position: relative;
  margin: 150px auto -100px;
}

.img_wrap {
  margin: 2px;
  width: 900px;
  height: 600px;
  border-style: double;
}

.img_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
}

button {
  width: 120px;
}

._form {
  margin-top: -10px;
  padding-left: 55px;
}

.miniprofile {
  padding-left: 110px;
}

._page {
  padding-left: 40%;
}
.content {
  max-width: 900px;
  text-align: justify;
  word-break: break-all;
}
