<div class="container mt-lg-5" align="center">
  <form *ngFor="let postModel of pageModel?.page">
    <div *ngIf="postModel != null">
    <div class="form-group form-inline miniprofile">
      <a [routerLink]="['/user', postModel.idUser]">
        <div class="row">
          <div class="col">
            <div *ngIf="postModel != null">
              <img src="api/files/{{postModel.profilePhoto}}" alt="profilePhoto" class="rounded-circle border"
                   width="50px" height="50px">
            </div>
          </div>
          <div class="col mt-2">
            <strong>{{postModel.nickname}}</strong>
          </div>
        </div>
      </a>
    </div>
      <div class="form-group" >
        <div class="row">
          <div class="col">
            <div class="img_wrap bg-dark">
                <img src="api/files/{{postModel.photoPath}}" alt="not found"/>
            </div>
          </div>
        </div>
      </div>
      <div  class="_form form-inline">
        <div class="btn-group ml-5 mb-2" role="group">
          <div *ngIf="postModel.like == null;else disliked">
            <button type="button" class="btn btn-success" (click)="likePost(postModel)">Like</button>
          </div>
          <ng-template #disliked>
            <button type="button" class="btn btn-danger" (click)="dislikePost(postModel)">Dislike</button>
          </ng-template>
          <button type="button" class="btn" [routerLink]="['/post/id', postModel.post.idPost]">Comment</button>
        </div>
      </div>
      <div class="form-group">
        <div style="padding-right: 75%;" class="row">
          <div class="col">
            <strong>{{postModel.likeCount}}</strong> likes
          </div>
        </div>
        <div  class="row">
          <div class="col">
            <div class="content">
              <strong>{{postModel.nickname}}</strong>: {{postModel.post.text}}
            </div>
          </div>
        </div>
        <div style="padding-right: 850px;" class="row">
          <div class="col">
            <div class="small font-weight-light">{{dateToString(postModel.post.date)}}</div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="row" align="center">
    <div class="col-xs-12 col-12 ">
      <pagination [totalItems]="pageModel?.totalElements" [itemsPerPage]="4" (pageChanged)="pageChanged($event)"></pagination>
    </div>
  </div>
</div>
