<div class="container mt-5 ">
  <div class="row w-75 bg-white border">
    <div class="col">
      <h3 class="font-weight-normal">Log into</h3>
      <form>
        <div class="form-group row ">
          <label for="loginEmail" class="col-sm-2 col-form-label" >Login</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="loginEmail" [(ngModel)]="logNickname" name="logname" #logNicknameField="ngModel" required placeholder="Nickname">
          </div>
          <div [hidden]="logNicknameField.valid || logNicknameField.untouched" class="alert alert-danger">
            Wrong nickname or missing nickname
          </div>
        </div>
        <div class="form-group row">
          <label for="loginPassword" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="loginPassword" [(ngModel)]="logPassword" name="logpassword" #logPasswordField="ngModel" required placeholder="Password">
          </div>
          <div [hidden]="logPasswordField.valid || logPasswordField.untouched" class="alert alert-danger">
            Wrong password or missing password
          </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="loginToAccount()">Submit</button>
      </form>
    </div>
  </div>
  <div class="row mt-5 w-75 bg-white border">
    <div class="col">
      <h3>Registration</h3>
      <form>
        <div class="form-group row ">
          <label for="regNickname" class="col-sm-2 col-form-label" >Nickname</label>
          <div class="col-sm-10">
            <input class="form-control mr-sm-2" type="nickname" id="regNickname" [(ngModel)]="newNickname" name="nick" #regNicknameField="ngModel" required placeholder="Nickname">
          </div>
          <div [hidden]="logNicknameField.valid || logNicknameField.untouched" class="alert alert-danger">
            Wrong nickname or missing nickname
          </div>
        </div>

        <div class="form-group row ">
          <label for="regName" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input class="form-control mr-sm-2" type="name" id="regName" [(ngModel)]="newName" name="name" #nameField="ngModel" required placeholder="Name">
          </div>
          <div [hidden]="nameField.valid || nameField.untouched" class="alert alert-danger">
            Wrong name or missing name
          </div>
        </div>

        <div class="form-group row">
          <label for="regEmail" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input class="form-control mr-sm-2" type="email" id="regEmail" [(ngModel)]="newEmail" #emailField="ngModel"
                   required pattern="[a-zA-Z0-9_.]+@[a-zA-Z_]+?\.[a-zA-Z]{2,4}" name="email" placeholder="Email"><!-- required нада, чтобы -->
          </div>
          <div [hidden]="emailField.valid || emailField.untouched" class="alert alert-danger">
            Wrong email or missing email
          </div>
        </div>
        <div class="form-group row">
          <label for="regPassword" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input class="form-control mr-sm-2" type="password" id="regPassword" [(ngModel)]="newPassword" #regPasswordField="ngModel" required name="password" placeholder="Password">
          </div>
          <div [hidden]="regPasswordField.valid || regPasswordField.untouched" class="alert alert-danger">
            Wrong password or missing password
          </div>
        </div>
        <button type="SignUp" class="btn btn-primary"
                [disabled]="logNicknameField.invalid || emailField.invalid || regPasswordField.invalid || nameField.invalid" (click)="addUserAccount()">Sign Up</button>
      </form>
    </div>
  </div>
</div>
