<h4 align="center">Publications:</h4>



<table  class="table" cellpadding="10" >
  <tbody>
  <td align="center">
    <tr *ngFor="let post of posts" class="bg-dark" >
      <div class="img_wrap">
        <img src="C:\\Users\\Ivan\\Desktop\\5jpg.jpg" alt="not found"/>
      </div>
      <table class="table" >
        <tr scope="col">
          <b>{{post.likeCount}}</b> likes
          <br>
          <b>{{post.date.getDate()}}.{{post.date.getMonth()}}.{{post.date.getFullYear()}}</b>
        </tr>
        <tr>
          <p>
<!--          <strong>{{post._author}}</strong>: -->
            {{post.text}}
        </tr>

        <th scope="col">Comments</th>
        <tr *ngFor="let comment of comments">
          <div *ngIf="comment._postid == post.id">
            {{comment._author}}: {{comment._text}}
            <br>
          </div>
        </tr>
      </table>
    </tr>

  </td>

  </tbody>
</table>
