<div class="container mt-lg-5" align="center">
  <div class="row">
    <div class="col post">
      <div class="img_wrap bg-dark">
        <img src="/api/load/Autumn.jpg" alt="not found"/>
      </div>
    </div>
    <div align="left" class="col pt-2 comments border border-dark bg-white">
      <div class="row w-100">
        <div class="col-2">
          <img src="/api/load/Nemiga.jpg" alt="profilePhoto" class="rounded-circle border"
               width="50px" height="50px">
        </div>
        <div class="col">
          <div class="content">
            <strong>Example</strong>: sdasdasdasdasdasdsasdasdasdasdasdasdsasdasdasdasdasdasdsasdasdasdasdasdasdsasdasdasdasdasdasdsa
          </div>
        </div>
      </div>
      <hr class="border-dark">

    </div>
  </div>
</div>
