<h4 align="center">Publications:</h4>



<table  class="table" cellpadding="10" >
  <tbody>
  <td align="center">
    <tr *ngFor="let post of posts" class="bg-dark" >
      <div class="img_wrap">
        <img src={{post._photoPath}} alt="not found">
      </div>
      <table class="table" >
        <tr scope="col">
          <b>{{post._likes}}</b> likes
          <br>
          <b>{{post._date.getDate()}}.{{post._date.getMonth()}}.{{post._date.getFullYear()}}</b>
        </tr>
        <tr>
          <p>
          <strong>{{post._author}}</strong>: {{post._text}}
        </tr>

        <th scope="col">Comments</th>
        <tr *ngFor="let comment of comments">
          <div *ngIf="comment._postid == post._id">
            {{comment._author}}: {{comment._text}}
            <br>
          </div>
        </tr>
      </table>
    </tr>

  </td>

  </tbody>
</table>
