<div class="container mt-lg-5" align="center">
  <div class="row">
    <div class="col">
      <div>
        <img src="/api/load/{{user?.profilePhoto}}" alt="profilePhoto" class="rounded-circle border"
             width="200px" height="200px">
      </div>
    </div>
    <div class="col-8">
      <form>
        <div class="form-inline">
          <div class="form-group row">
            <div class="nick col-4 mx-sm-3">
              {{user?.nickname}}
            </div>
          </div>
        </div>
        <div class="form-inline mt-3">
          <div class="row w-100">
            <div class="col-xl">
              <strong>{{numberOfPosts}}</strong> posts
            </div>
            <div class="col-xl">
              <strong>{{followers}}</strong> subscribers
            </div>
            <div class="col-sm">
              <strong>{{follows}}</strong> subscriptions
            </div>
          </div>
        </div>
        <div class="form-inline mt-3">
          <div class="row">
            <div class="col-sm-4 text-sm-center">
              <strong>{{user?.name}}</strong>
            </div>
            <div class="col-sm-2">
              {{user?.email}}
            </div>
          </div>
        </div>
        <div class="form-inline mt-3">
          <div class="row">
            <div class="col-sm">
              <p class="text-justify">{{user?.info}}</p>
            </div>
          </div>
        </div>
        <div class="_form">
          <div class="btn-group ml-5 mb-2 " role="group">
            <div *ngIf="!isSubbed;else unsubbed">
              <button type="subscribe" class="btn btn-outline-dark" (click)="subscribe()">Subscribe</button>
            </div>
            <ng-template #unsubbed>
              <button type="button" class="btn btn-outline-dark" (click)="unsubscribe()">Unsubscribe</button>
            </ng-template>
            <button type="button" class="btn btn-outline-dark">Message</button>
          </div>
        </div>
        </form>
    </div>
  </div>
  <hr>
</div>

<app-posts></app-posts>
