<div *ngIf="userViewModel != null">
  <div *ngIf="isActive() || isAdmin(); else banned">
  <div class="container mt-lg-5" align="center">
    <div class="row">
      <div class="col">
        <div *ngIf="userViewModel != null">
          <img src="/api/files/{{userViewModel.profilePhoto}}" alt="profilePhoto" class="rounded-circle border"
               width="200px" height="200px">
        </div>
      </div>
      <div class="col-8">
        <form>
          <div class="form-inline">
            <div class="form-group row">
              <div class="nick col-4 mx-sm-3">
                {{userViewModel.nickname}}
              </div>
            </div>
          </div>
          <div class="form-inline mt-3">
            <div class="row w-100">
              <div class="col-xl">
                <strong>{{userViewModel.numberOfPosts}}</strong> posts
              </div>
              <div class="col-xl">
                <strong>{{userViewModel.subscribers}}</strong> subscribers
              </div>
              <div class="col-sm">
                <strong>{{userViewModel.subscriptions}}</strong> subscriptions
              </div>
            </div>
          </div>
          <div class="form-inline mt-3">
            <div class="row">
              <div class="col-sm-4 text-sm-center">
                <strong>{{userViewModel.name}}</strong>
              </div>
              <div class="col-sm-2">
                {{userViewModel.email}}
              </div>
            </div>
          </div>
          <div class="form-inline mt-3">
            <div class="row">
              <div class="col-sm">
                <p class="text-justify">{{userViewModel.info}}</p>
              </div>
            </div>
          </div>
          <div class="_form">
            <div *ngIf="currentUser.idUser != userViewModel.idUser" class="btn-group ml-5 mb-2 " role="group">
              <div *ngIf="!isSubbed;else unsubbed">
                <button type="subscribe" class="btn btn-outline-dark" (click)="subscribe()">Subscribe</button>
              </div>
              <ng-template #unsubbed>
                <button type="button" class="btn btn-outline-dark" (click)="unsubscribe()">Unsubscribe</button>
              </ng-template>
              <div *ngIf="isAdmin(); else complaint">
                <div *ngIf="isActive(); else unblock">
                  <button type="button" class="btn btn-dark" (click)="blockUser()">Block</button>
                </div>
                <ng-template #unblock>
                  <button type="button" class="btn btn-outline-dark" (click)="unblockUser()">Unblock</button>
                </ng-template>
              </div>
              <ng-template #complaint>
                <div *ngIf="!isComplaintExists; else delcomplaint">
                  <button type="button" class="btn btn-dark" (click)="openModal(template)">Complaint</button>
                </div>
                <ng-template #delcomplaint>
                  <button type="button" class="btn btn-outline-dark" (click)="cancelComplaint()">Cancel Complaint</button>
                </ng-template>
              </ng-template>
            </div>

          </div>
          </form>
      </div>
    </div>
    <hr>
  </div>

  <app-posts></app-posts>
  </div>
  <ng-template #banned>
    <div class="page-wrap d-flex flex-row align-items-center mt-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 text-center">
            <span class="display-1 d-block">Oops</span>
            <div class="mb-4 lead">User {{userViewModel.nickname}} you were looking for has been banned due to complaints of community</div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title ">Write complaint</h4>
    <button type="button" class="w-50 pl-5 close pull-right"
            aria-label="Close"  (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div class="btn-group" dropdown>
        <button style="width:450px" id="button-basic" dropdownToggle type="button" class="btn btn-outline-dark dropdown-toggle"
                aria-controls="dropdown-basic">
          {{reason}}<span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><button type="button" style="width:450px" class="btn  btn-outline-dark" (click)="newReason= 0; reason='Spam'">Spam</button></li>
          <li role="menuitem"><button type="button" style="width:450px" class="btn btn-outline-dark" (click)="newReason= 1;  reason='Obscenity'">Obscenity</button></li>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <label>Additional info</label>
      <textarea class="form-control w-100" name="username" [(ngModel)]="newText"> </textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default"
            (click)="sendComplaint()">Send
    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal"  (click)="closeModal()">Close</button>
  </div>
</ng-template>
